// Dual Ring
.lds-dual-ring {
  display: inline-block;
  width: 300px;
  height: 300px;
  margin: auto;
  margin-left: 35%;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 300px;
  height: 300px;
  margin: auto;
  border-radius: 50%;
  border: 10px solid #cef;
  border-color: #cef transparent #cef transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}